<div>
<h2>Nazwa użytkownika: <%= @user.username %></h2>
</div>
<br>
<table class="table table-hover">
<thead>
    <tr>
    
    <th>Nazwa gry</th>
    <th>Rodzaj gry</th>
    <th>Ocena</th>
    <% if @user==current_user %>
    <th>Usuń z półki</th> <% end %>
      </tr>
       </tr>
  </thead>

   <% @user.games.each do |game| %>
      <tr>
      
       
        <td><%= link_to "#{game.name}", game %></td>
        <td><%= game.genre %></td>
        <% if Rating.where(game_id: game.id, user_id: @user.id).last %>
       <td> <%= Rating.where(game_id: game.id, user_id: @user.id).last.points %> 
      
        </td>
        <%else%>
        <td>
        <%= "Jeszcze nie oceniona"%>
        <% end %>
        <% if @user==current_user %>
        <td><%= button_to 'remove', removegame_user_show_path(:type=> game), method: :post, class: "btn btn-default" %></td> <% end %>
      </tr>
      <% end %> 
      
    
</table>