
<%= simple_form_for @existing_review do |f| %>

<%= f.hidden_field :game_id, :value => @game.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<% if @existing_review.points.nil? %>

<%= f.input :points, label: "Rating", collection: 1..10  %>
<%else%>
<div>
<%= "You rated the game: #{@existing_review.points}"%> </div>
<% end %>

<br>


<% if @existing_review.review.nil? %>
  <%= f.input :review, label: false, placeholder: "Game review", :input_html => {:rows =>4, :cols =>70} %>
<%else%>
<%= f.input :review, label: "Edit your review", :input_html => {:rows =>4, :cols =>70, :value => "#{@existing_review.review}"} %>
<% end %>


<%= f.submit 'Add' %>

<% end %>

