<table class="table table-hover">
   <thead>
    <tr>
    <th>Nazwa gry</th>
    <th>Typ gry</th>
    <th>Minimalna liczba graczy</th>
    <th>Maksymalna liczba graczy</th>
    <th>Minimalny wiek graczy</th>
    <th>Średnia ocena</th>
    <% if user_signed_in? %>
        <th><%= "Oceń grę" %></th>
        <th><%= "Dodaj recenzję" %></th>
        <th><%= "Dodaj do swojej półki" %></th>
        <% end %>

    </tr>
  </thead>

   <% @games.each do |game| %>
      <tr>
         <td><%= link_to "#{game.name}", game  %></td>
        <td><%= game.genre %></td>
        <td><%= game.minplayer %></td>
        <td><%= game.maxplayer %></td>
        <td><%= game.minage %></td>
        <td><%= game.ratings.average(:points) %></td> 
        <% if user_signed_in? %>
        <% if game.ratings.where(user: current_user).first_or_initialize.points.nil? %>
        <td><%= simple_form_for(game.ratings.where(user: current_user).first_or_initialize) do |f| %>
        <%= f.input :points, label: false, collection: 1..10 %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :game_id, :value => game.id %>

        
        <%= f.submit "oceń ",  :class => 'btn btn-default' %> </td>
        <% end %>
        <%else%>
        <td><%= "Oceniłeś grę na #{game.ratings.where(user: current_user).first_or_initialize.points}"%></td>
        <% end %>
        
        <td><button type="button" class="btn btn-primary review">Dodaj recenzję</button></td>
        <td><%= button_to 'add to shelf', add_game_path(game), method: :post, remote: true, class: "btn btn-default", form_class: "add_to_s" %></td>
        <% end %> 
      </tr>
    <% end %>
</table>

<%= link_to "Dodaj grę", new_game_path, :class => "btn btn-primary" %>